/* GLOBAL ITEMS */
html, body {
  font-size: 125%;
  font-family: 'Source Code Pro', sans-serif;
  background-color: #954040;
  color: #fff;

}

h1{
  font-weight: 200;
  margin: 0px;
}

h2{
  font-weight: 200;
  margin: 0px;
}

h3{
  font-weight: 100;
  margin: 0px;
}

/* HOMEPAGE */
.element{
  text-align: center;
  font-size: 150%;
}
.animation{
  text-align: center;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.logo-container{
  width: 125px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.logo-container img{
  width: 100%;
}
