/* GLOBAL ITEMS */
html, body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
}

h1{
  font-weight: 200;
  margin: 0px;
}

h2{
  font-weight: 200;
  margin: 0px;
}

h3{
  font-weight: 100;
  margin: 0px;
}

/* HOMEPAGE */
